  .guidelines_head {
      margin-top: 25px;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
   
  }

  .guidelines_body {
    margin-top: 30px;
    text-align:justify;
    text-justify: auto;
    font-family:"Google Sans", sans-serif;
  }

  .body_head {
      font-size: medium;
      font-weight: bolder;
  }

  .gd_container {
      margin-left: 15%;
      margin-right: 15%;
  }

  .ullist {
    
    font-size: small;
    
    font-weight: bolder;
  }
